div {
    max-width: 1200px;
    margin: 0 auto;
    font-family: cursive;
}

#page-des {
    background-color: #000;
    padding: 20px;
    border-radius: 10px;
    font-size: 25px;
    color: #fff;
}

.color-btn {
    padding: 10px 16px;
    border: none;
    background-color: coral;
    border-radius: 8px;
    font-weight: 700;
    font-size: 20px;
    color: rgba(0, 255, 255, 0.78);
    margin-right: 15px;
}